.wrapper {
  background: #f7f7f7;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
  color: #182026;
  width: 400px;
  max-width: 100%;
}

.title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.025em;
  margin-bottom: 12px;
}
